{% extends 'catalog/base.html' %}

{% block title %}Skystore{% endblock %}

{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ product.name }}</h1>
    <p class="lead">Подробная информация о товаре</p>
</div>

<div class="container mt-5">
    <p>Название товара - {{ product.name }}</p>
    <p>Описание товара - {{ product.description }}</p>
    <p>Фото товара - {{ product.image }}</p>
    <p>Категория товара - {{ product.category }}</p>
    <p>Дата создания - {{ product.created_at|date:"d M Y" }}</p>
    <p>Дата обновления - {{ product.updated_at|date:"d M Y" }}</p>

</div>

<a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
{% if 'catalog.delete_product' in perms %}
<a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
{% endif %}
<a href="{% url 'catalog:home' %}" class="btn btn-primary">Вернуться к списку</a>

{% if 'catalog.can_unpublish_product' in perms %}
    <form method="post" action="{% url 'catalog:product_is_published' product.id %}">
        {% csrf_token %}
        <button type="submit">Публиковать</button>
    </form>
{% endif %}

{% endblock %}

